::ng-deep .cdk-overlay-container {
    z-index: 1!important;
}

.form-section {
    display: flex;
    flex-direction: column;
}

.file-item {
    display: grid;
    width: 100%;
    grid-template-columns: 0fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}


.file-item * {
    margin-right: 2px;
    margin-left: 2px;
}