<div class="page-container">
    <div class="device-section">
        <mat-card *ngIf="device">
            <mat-card-title>
                {{device.center}}
            </mat-card-title>
            <mat-card-subtitle>
                {{device.name}}
            </mat-card-subtitle>
            <mat-card-content>
                <div class="form-section">
                    <mat-form-field>
                        <mat-label>{{'name' | translate}}</mat-label>
                        <input [(ngModel)]="device.name" matInput>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>{{'windows' | translate}}</mat-label>
                        <mat-select [(ngModel)]="device.windows_version">
                            <mat-option *ngFor="let item of windows_versions" [value]="item">
                                {{ item | translate }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <div style="display: flex;">
                        <button mat-icon-button (click)="password_show = !password_show"><mat-icon>{{password_show ?
                            'close' : 'remove_red_eye'}}</mat-icon></button>
                        <mat-form-field style="flex-grow: 1;">
                            <mat-label>{{'passowrd' | translate}}</mat-label>
                            <input [(ngModel)]="device.system_password" matInput
                                [type]="password_show ? 'text' : 'password'">
                        </mat-form-field>
                    </div>


                    <mat-form-field>
                        <mat-label>{{'installation_year' | translate}}</mat-label>
                        <mat-select [(ngModel)]="device.installation_year">
                            <mat-option *ngFor="let item of installation_years" [value]="item">
                                {{ item }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>{{'device_model' | translate}}</mat-label>
                        <mat-select [(ngModel)]="device.model">
                            <mat-option *ngFor="let item of device_models" [value]="item">
                                {{ item | translate }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>


                    <mat-form-field>
                        <mat-label>{{'serial_number' | translate}}</mat-label>
                        <input [(ngModel)]="device.serial_number" matInput>
                    </mat-form-field>

                    <mat-form-field class="chip-list">
                        <mat-label>{{'version' | translate}}</mat-label>
                        <mat-chip-list #chipList>
                            <mat-chip *ngFor="let version of device_versions"
                                (removed)="removeVersion(device_versions, version)">
                                {{version}}
                                <button matChipRemove><mat-icon>cancel</mat-icon></button>
                            </mat-chip>
                            <input placeholder="{{'new_version' | translate}}" [matChipInputFor]="chipList"
                                [matChipInputSeparatorKeyCodes]="separatorKeysCodes" matChipInputAddOnBlur="true"
                                (matChipInputTokenEnd)="addVersion(device_versions, $event)">
                        </mat-chip-list>
                    </mat-form-field>

                    <mat-form-field class="chip-list">
                        <mat-label>{{'bundle_version' | translate}}</mat-label>
                        <mat-chip-list #bundleChipList>
                            <mat-chip *ngFor="let version of bundle_versions"
                                (removed)="removeVersion(bundle_versions, version)">
                                {{version}}
                                <button matChipRemove><mat-icon>cancel</mat-icon></button>
                            </mat-chip>
                            <input placeholder="{{'new_version' | translate}}" [matChipInputFor]="bundleChipList"
                                [matChipInputSeparatorKeyCodes]="separatorKeysCodes" matChipInputAddOnBlur="true"
                                (matChipInputTokenEnd)="addVersion(bundle_versions, $event)">
                        </mat-chip-list>
                    </mat-form-field>

                </div>
            </mat-card-content>

            <mat-card-actions>
                <button mat-raised-button (click)="update()">{{'accept' | translate}}</button>
                <button mat-icon-button (click)="delete()"><mat-icon>delete</mat-icon></button>
            </mat-card-actions>
        </mat-card>

        <mat-expansion-panel *ngIf="device" class="file-section">
            <mat-expansion-panel-header>
                {{"files" | translate}}
            </mat-expansion-panel-header>
            <mat-chip-list>
                <mat-chip *ngFor="let file of device.files">
                    <div class="file-item">
                        <button matChipRemove class="file-delete"
                            (click)="deleteFile(file.id)"><mat-icon>delete</mat-icon></button>
                        <a href="{{file.file}}">{{file.filename}}</a>
                        <div>{{file_type_map.get(file.type) || "" | translate}}</div>
                        <div>{{file.created_at}}</div>
                    </div>
                </mat-chip>
                <div class="file-select">
                    <div *ngIf="dataForm">
                        <button mat-icon-button (click)="sendFile()"><mat-icon>send</mat-icon></button>

                        <mat-form-field>
                            <mat-label>{{'type' | translate}}</mat-label>
                            <mat-select [(ngModel)]="selected_file_type">
                                <mat-option value="NA">{{'none' | translate}}</mat-option>
                                <mat-option value="SV">{{'survey_form' | translate}}</mat-option>
                                <mat-option value="TC">{{'tool_char' | translate}}</mat-option>
                                <mat-option value="SR">{{'given_services' | translate}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div>
                        <input type="file" style="display: none;" #fileInput (change)="onFileSelected($event)" />
                        <button mat-icon-button (click)="fileInput.click()"><mat-icon>attach_file</mat-icon></button>
                        <label for="fileInput">{{selected_file_name || "select_a_file" | translate}}</label>
                    </div>
                </div>
            </mat-chip-list>
        </mat-expansion-panel>
        <mat-spinner *ngIf="!device"></mat-spinner>
    </div>

    <div class="events-section">
        <mat-card *ngIf="events">
            <mat-card-header>{{'events' | translate}}</mat-card-header>
            <mat-card-content class="events-list">
                <button mat-stroked-button *ngFor="let event of events; let i = index;"
                    style="margin-top: 4px; margin-bottom: 4px;" (click)="tableRowCliecked(i, event)">
                    <div class="events-item">
                        <div>{{formatDate(event.date)}}</div>
                        <div>{{event_type_map.get(event.type) || "" | translate}}</div>
                    </div>
                </button>
            </mat-card-content>
            <mat-card-actions>
                <button mat-icon-button (click)="openDialog()"><mat-icon>add</mat-icon></button>
            </mat-card-actions>
        </mat-card>
        <mat-spinner *ngIf="!events"></mat-spinner>
    </div>
</div>