<div class="page-container">
    <div class="device-section">
        <mat-card *ngIf="device">
            <mat-card-title>
                {{device.center}}
            </mat-card-title>
            <mat-card-subtitle>
                {{device.version}}
            </mat-card-subtitle>
            <mat-card-content>
                <div class="form-section">
                    <mat-form-field>
                        <mat-label>Version</mat-label>
                        <input [(ngModel)]="device.version" matInput>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Type</mat-label>
                        <input [(ngModel)]="device.center" matInput>
                    </mat-form-field>
                </div>
            </mat-card-content>
            <mat-card-footer><mat-card-actions>
                    <button mat-icon-button (click)="update()"><mat-icon>update</mat-icon></button>
                    <button mat-icon-button (click)="delete()"><mat-icon>delete</mat-icon></button>
                </mat-card-actions></mat-card-footer>

        </mat-card>
        <mat-spinner *ngIf="!device"></mat-spinner>
    </div>

    <div class="space"></div>

    <div class="events-section">
        <mat-card *ngIf="events" style="height: 100%;">
            <mat-card-header>Events</mat-card-header>
            <mat-card-content class="events-list">
                <button mat-stroked-button *ngFor="let event of events; let i = index;" (click)="tableRowCliecked(i, event)">
                    <div class="events-item">
                        <div>{{formatDate(event.date)}}</div> <div>{{type_map.get(event.type)}}</div>
                    </div>
                </button>
            </mat-card-content>
            <mat-card-actions>
                <button mat-icon-button (click)="openDialog()"><mat-icon>add</mat-icon></button>
            </mat-card-actions>
        </mat-card>
        <mat-spinner *ngIf="!events"></mat-spinner>
    </div>
</div>