.page-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    padding-right: 5%;
    padding-left: 10%;
    margin-top: 2rem;
}

.space {
    flex-grow: 1;
}

.events-section {
    flex-grow: 2;
}

.device-section {
    height: 100%;
    flex-grow: 3;
    flex-basis: 20%
}

.form-section {
    display: flex;
    justify-content: space-around;
}

.events-list {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    margin-top: 20px;
}

.events-item {
    display: flex;
    justify-content: space-between;
}