<div class="page-container">
    <div class="device-section">
        <mat-card *ngIf="device" >
            <mat-card-title>
                {{device.center}}
            </mat-card-title>
            <mat-card-subtitle>
                {{device.version}}
            </mat-card-subtitle>
        </mat-card>    
        <mat-spinner *ngIf="!device"></mat-spinner>
    </div>

    <div class="events-section">
        <mat-card *ngIf="events">
            <mat-card-header>Events</mat-card-header>
            <div *ngFor="let event of events" (click)="tableRowCliecked(event)">
                {{event.type}} and {{(event.description)}}
            </div>
        <mat-card-actions>
            <button mat-icon-button (click)="openDialog()"><mat-icon>add</mat-icon></button>
        </mat-card-actions>
        </mat-card>
        <mat-spinner *ngIf="!events"></mat-spinner>
    </div>
</div>