<mat-tab-group class="main-container">
  <mat-tab label="{{'primary_information' | translate }}">
    <mat-spinner *ngIf="!htmlService.isPageReady" style="margin:0 auto;"></mat-spinner>

    <form [formGroup]="form" class="primary-info" *ngIf="htmlService.isPageReady">
      <mat-form-field appearance="fill" style="grid-area: name;">
        <mat-label>{{'name' | translate}}</mat-label>
        <input matInput placeholder="{{'name' | translate}}" formControlName="Name" [matAutocomplete]="nameauto">
        <mat-error *ngIf="form.controls['Name'].invalid">{{'name_is_required' | translate}}</mat-error>
      </mat-form-field>
      <mat-autocomplete #nameauto="matAutocomplete">
        <mat-option *ngFor="let option of autofill.get('Name', form.controls['Name']!.value, 3)" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>


      <mat-form-field appearance="fill" style="grid-area: national-id;">
        <mat-label>{{'national_code' | translate}}</mat-label>
        <input matInput placeholder="{{'national_code' | translate}}" formControlName="NationalID" [matAutocomplete]="nationalidauto">
        <mat-error *ngIf="form.controls['NationalID'].invalid">{{'Enter a valid national ID' | translate}}</mat-error>
      </mat-form-field>
      <mat-autocomplete #nationalidauto="matAutocomplete">
        <mat-option *ngFor="let option of autofill.get('NationalID', form.controls['NationalID']!.value, 3)" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>

      <mat-form-field appearance="fill" style="grid-area: phone;">
        <mat-label>{{'phone' | translate}}</mat-label>
        <input matInput placeholder="{{'phone' | translate}}" formControlName="PhoneNumber" numberfield [matAutocomplete]="phoneauto">
        <mat-error *ngIf="form.controls['PhoneNumber'].invalid">{{'Enter a valid phone number' | translate}}</mat-error>
      </mat-form-field>
      <mat-autocomplete #phoneauto="matAutocomplete">
        <mat-option *ngFor="let option of autofill.get('PhoneNumber', form.controls['PhoneNumber']!.value, 4)" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>

      <mat-form-field appearance="fill" style="grid-area: surgery-date;">
        <mat-label>{{'surgery_date' | translate}}</mat-label>
        <input matInput [matDatepicker]="picker"
          formControlName="SurgeryDate"
          placeholder="{{'surgery_date' | translate}}">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="fill" style="grid-area: surgeon-first;">
        <mat-label>{{'surgeon_first' | translate}}</mat-label>
        <input matInput placeholder="{{'surgeon_first' | translate}}" formControlName="SurgeonFirst" [matAutocomplete]="SurgeonFirstAuto">
      </mat-form-field>
      <mat-autocomplete #SurgeonFirstAuto="matAutocomplete">
        <mat-option *ngFor="let option of autofill.get('SurgeonFirst', form.controls['SurgeonFirst']!.value, 2)" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>

      <mat-form-field appearance="fill" style="grid-area: hospital;">
        <mat-label>{{'hospital' | translate}}</mat-label>
        <input matInput placeholder="{{'hospital' | translate}}" formControlName="Hospital" [matAutocomplete]="HospitalAuto">
      </mat-form-field>
      <mat-autocomplete #HospitalAuto="matAutocomplete">
        <mat-option *ngFor="let option of autofill.get('Hospital', form.controls['Hospital']!.value, 0)" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>

      <mat-form-field appearance="fill" style="grid-area: hospital-type;">
        <mat-label>{{'hospital_type' | translate}}</mat-label>
        <mat-select formControlName="HospitalType">
          <mat-option *ngFor="let value of options['hospital_type']" [value]="value.Value">
            {{ value.Text | translate }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill" style="grid-area: surgery-day;">
        <mat-label>{{'surgery_day' | translate}}</mat-label>
        <mat-select formControlName="SurgeryDay">
          <mat-option *ngFor="let value of options['surgery_day']" [value]="value.Value">
            {{ value.Text | translate }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill" style="grid-area: surgery-time;">
        <mat-label>{{'surgery_time' | translate}}</mat-label>
        <mat-select formControlName="SurgeryTime">
          <mat-option *ngFor="let value of options['surgery_time']" [value]="value.Value">
            {{ value.Text | translate }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill" style="grid-area: MR;">
        <mat-label>{{'MR' | translate}}</mat-label>
        <mat-select formControlName="MR">
          <mat-option *ngFor="let value of options['mr']" [value]="value.Value">
            {{ value.Text | translate }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill" style="grid-area: CT;">
        <mat-label>{{'CT' | translate}}</mat-label>
        <mat-select formControlName="CT">
          <mat-option *ngFor="let value of options['ct']" [value]="value.Value">
            {{ value.Text | translate }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill" style="grid-area: operator-first;">
        <mat-label>{{'operator_first' | translate}}</mat-label>
        <input matInput placeholder="{{'operator_first' | translate}}" formControlName="OperatorFirst" [matAutocomplete]="OperatorFirstAuto">
      </mat-form-field>
      <mat-autocomplete #OperatorFirstAuto="matAutocomplete">
        <mat-option *ngFor="let option of autofill.get('OperatorFirst', form.controls['OperatorFirst']!.value, 0)" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>


      <mat-form-field appearance="fill" style="grid-area: operator-second;">
        <mat-label>{{'operator_second' | translate}}</mat-label>
        <input matInput placeholder="{{'operator_second' | translate}}" formControlName="OperatorSecond" [matAutocomplete]="OperatorSecondAuto">
      </mat-form-field>
      <mat-autocomplete #OperatorSecondAuto="matAutocomplete">
        <mat-option *ngFor="let option of autofill.get('OperatorSecond', form.controls['OperatorSecond']!.value, 0)" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>


      <mat-form-field appearance="fill" style="grid-area: first-contact;">
        <mat-label>{{'first_contact' | translate}}</mat-label>
        <input matInput [matDatepicker]="firstContactpicker" placeholder="{{'first_contact' | translate}}"
          formControlName="DateOfFirstContact"
        >
        <mat-datepicker-toggle matSuffix [for]="firstContactpicker"></mat-datepicker-toggle>
        <mat-datepicker #firstContactpicker></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="fill" style="grid-area: first-caller;">
        <mat-label>{{'first_caller' | translate}}</mat-label>
        <input matInput placeholder="{{'first_caller' | translate}}" formControlName="FirstCaller" [matAutocomplete]="FirstCallerAuto">
      </mat-form-field>
      <mat-autocomplete #FirstCallerAuto="matAutocomplete">
        <mat-option *ngFor="let option of autofill.get('FirstCaller', form.controls['FirstCaller']!.value, 0)" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>

      <mat-form-field appearance="fill" style="grid-area: payment-status;">
        <mat-label>{{'payment_status' | translate}}</mat-label>
        <mat-select formControlName="PaymentStatus">
          <mat-option *ngFor="let value of options['payment_status']" [value]="value.Value">
            {{ value.Text | translate }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill" style="grid-area: payment-date;">
        <mat-label>{{'payment_date' | translate}}</mat-label>
        <input matInput [matDatepicker]="paymentpicker"
          formControlName="DateOfPayment"
          placeholder="{{'payment_date' | translate}}"
          >
        <mat-datepicker-toggle matSuffix [for]="paymentpicker"></mat-datepicker-toggle>
        <mat-datepicker #paymentpicker></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="fill" floatLabel="always">
        <mat-label>{{'cash_amount' | translate}}</mat-label>
        <input matInput type="text" currencyMask [options]="{ prefix: '', thousands: ',', precision: 0 }"
          formControlName="CashAmount" placeholder="0">
        <span matSuffix>ریال</span>
      </mat-form-field>

      <mat-form-field appearance="fill" style="grid-area: payment-card;">
        <mat-label>{{'payment_card' | translate}}</mat-label>
        <input matInput placeholder="{{'payment_card' | translate}}" formControlName="LastFourDigitsCard">
      </mat-form-field>

      <mat-form-field appearance="fill" style="grid-area: bank;">
        <mat-label>{{'bank' | translate}}</mat-label>
        <input matInput placeholder="{{'bank' | translate}}" formControlName="Bank" [matAutocomplete]="BankAuto">
      </mat-form-field>
      <mat-autocomplete #BankAuto="matAutocomplete">
        <mat-option *ngFor="let option of autofill.get('Bank', form.controls['Bank']!.value, 0)" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>

      <mat-form-field appearance="fill" floatLabel="always" style="grid-area: discount-percentage;">
        <mat-label>{{'discount_percentage' | translate}}</mat-label>
        <input matInput type="number" min="0" max="100" formControlName="DiscountPercent" placeholder="0">
        <span matPrefix>%</span>
        <mat-error *ngIf="form.controls['DiscountPercent'].invalid">{{'percent_error' | translate}}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" style="grid-area: discount-reason;">
        <mat-label>{{'discount_reason' | translate}}</mat-label>
        <input matInput placeholder="{{'discount_reason' | translate}}" formControlName="ReasonForDiscount" [matAutocomplete]="ReasonForDiscountAuto">
      </mat-form-field>
      <mat-autocomplete #ReasonForDiscountAuto="matAutocomplete">
        <mat-option *ngFor="let option of autofill.get('ReasonForDiscount', form.controls['ReasonForDiscount']!.value, 0)" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>

      <mat-form-field appearance="fill" style="grid-area: insurance;">
        <mat-label>{{'insurance' | translate}}</mat-label>
        <input matInput placeholder="{{'insurance' | translate}}" formControlName="TypeOfInsurance" [matAutocomplete]="TypeOfInsuranceAuto">
      </mat-form-field>
      <mat-autocomplete #TypeOfInsuranceAuto="matAutocomplete">
        <mat-option *ngFor="let option of autofill.get('TypeOfInsurance', form.controls['TypeOfInsurance']!.value, 0)" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>

      <mat-form-field appearance="fill" style="grid-area: financial-verifier;">
        <mat-label>{{'financial_verifier' | translate}}</mat-label>
        <input matInput placeholder="{{'financial_verifier' | translate}}" formControlName="FinancialVerifier" [matAutocomplete]="FinancialVerifierAuto">
      </mat-form-field>
      <mat-autocomplete #FinancialVerifierAuto="matAutocomplete">
        <mat-option *ngFor="let option of autofill.get('FinancialVerifier', form.controls['FinancialVerifier']!.value, 0)" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>

      <mat-form-field appearance="fill" style="grid-area: recipt-number;">
        <mat-label>{{'receipt_number' | translate}}</mat-label>
        <input matInput type="number" placeholder="{{'receipt_number' | translate}}"
               formControlName="ReceiptNumber" numberfield >
      </mat-form-field>

      <mat-form-field appearance="fill" style="grid-area: surgery-result;">
        <mat-label>{{'surgery_result' | translate}}</mat-label>
        <mat-select formControlName="SurgeryResult">
          <mat-option *ngFor="let value of options['surgery_result']" [value]="value.Value">
            {{ value.Text | translate }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill" style="grid-area: cancellation-reason;"
        *ngIf="form.controls['SurgeryResult'].value === 2">
        <mat-label>{{'cancellation_reason' | translate}}</mat-label>
        <input matInput placeholder="{{'cancellation_reason' | translate}}" formControlName="CancellationReason">
      </mat-form-field>

      <mat-form-field appearance="fill" style="grid-area: refund-status;"
        *ngIf="form.controls['SurgeryResult'].value === 2">
        <mat-label>{{'refund_status' | translate}}</mat-label>
        <input matInput placeholder="{{'refund_status' | translate}}" formControlName="RefundStatus">
      </mat-form-field>

    </form>
  </mat-tab>
  <mat-tab label="{{'complementary_information' | translate }}">
    <mat-spinner *ngIf="!htmlService.isPageReady" style="margin:0 auto;"></mat-spinner>
    <form *ngIf="htmlService.isPageReady" [formGroup]="form" class="complementary-info">
      <mat-form-field appearance="fill" style="grid-area: file-number;">
        <mat-label>{{'file_number' | translate}}</mat-label>
        <input matInput placeholder="{{'file_number' | translate}}" formControlName="FileNumber" numberfield>
      </mat-form-field>

      <mat-form-field appearance="fill" style="grid-area: address;">
        <mat-label>{{'address' | translate}}</mat-label>
        <input matInput formControlName="Address" placeholder="{{'address' | translate}}" [matAutocomplete]="AddressAuto">
      </mat-form-field>
      <mat-autocomplete #AddressAuto="matAutocomplete">
        <mat-option *ngFor="let option of autofill.get('Address', form.controls['Address']!.value, 1)" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>

      <mat-form-field appearance="fill" style="grid-area: place-of-birth;">
        <mat-label>{{'place_of_birth' | translate}}</mat-label>
        <input matInput placeholder="{{'place_of_birth' | translate}}" formControlName="PlaceOfBirth" [matAutocomplete]="PlaceOfBirthAuto">
      </mat-form-field>
      <mat-autocomplete #PlaceOfBirthAuto="matAutocomplete">
        <mat-option *ngFor="let option of autofill.get('PlaceOfBirth', form.controls['PlaceOfBirth']!.value, 1)" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>


      <mat-form-field appearance="fill" style="grid-area: date-of-admission;">
        <mat-label>{{'date_of_hospital_admission' | translate}}</mat-label>
        <input matInput [matDatepicker]="hospitalAdmissionDatepicker"
          placeholder="{{'date_of_hospital_admission' | translate}}"
          formControlName="DateOfHospitalAdmission"
        >
        <mat-datepicker-toggle matSuffix [for]="hospitalAdmissionDatepicker"></mat-datepicker-toggle>
        <mat-datepicker #hospitalAdmissionDatepicker></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="fill" style="grid-area: age;">
        <mat-label>{{'age' | translate}}</mat-label>
        <input matInput type="number" min="0" max="150" formControlName="Age" placeholder="{{'age' | translate}}">
      </mat-form-field>

      <mat-form-field appearance="fill" style="grid-area: surgery-type;">
        <mat-label>{{'surgery_type' | translate}}</mat-label>
        <input matInput type="text" formControlName="SurgeryType" placeholder="{{'surgery_type' | translate}}">
      </mat-form-field>

      <mat-form-field appearance="fill" style="grid-area: surgery-area;">
        <mat-label>{{'surgery_area' | translate}}</mat-label>
        <mat-select formControlName="SurgeryArea">
          <mat-option *ngFor="let value of options['surgery_area']" [value]="value.Value">
            {{ value.Text | translate }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill" style="grid-area: headband-fix;">
        <mat-label>{{'head_fix_type' | translate}}</mat-label>
        <mat-select formControlName="HeadFixType">
          <mat-option *ngFor="let value of options['head_fix_type']" [value]="value.Value">
            {{ value.Text | translate }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill" style="grid-area: surgeon-second;">
        <mat-label>{{'surgeon_second' | translate}}</mat-label>
        <input matInput placeholder="{{'surgeon_second' | translate}}" formControlName="SurgeonSecond" [matAutocomplete]="SurgeonSecondAuto">
      </mat-form-field>
      <mat-autocomplete #SurgeonSecondAuto="matAutocomplete">
        <mat-option *ngFor="let option of autofill.get('SurgeonSecond', form.controls['SurgeonSecond']!.value, 2)" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>

      <mat-form-field appearance="fill" style="grid-area: resident;">
        <mat-label>{{'resident' | translate}}</mat-label>
        <input matInput placeholder="{{'resident' | translate}}" formControlName="Resident" [matAutocomplete]="ResidentAuto">
      </mat-form-field>
      <mat-autocomplete #ResidentAuto="matAutocomplete">
        <mat-option *ngFor="let option of autofill.get('Resident', form.controls['Resident']!.value, 2)" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>

      <mat-form-field appearance="fill" style="grid-area: hospital-address;">
        <mat-label>{{'hospital_address' | translate}}</mat-label>
        <input matInput placeholder="{{'hospital_address' | translate}}" formControlName="HospitalAddress">
      </mat-form-field>

      <mat-form-field appearance="fill" style="grid-area: FMRI;">
        <mat-label>{{'FMRI' | translate}}</mat-label>
        <mat-select formControlName="FMRI">
          <mat-option *ngFor="let value of options['fmri']" [value]="value.Value">
            {{ value.Text | translate }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill" style="grid-area: DTI;">
        <mat-label>{{'DTI' | translate}}</mat-label>
        <mat-select formControlName="DTI">
          <mat-option *ngFor="let value of options['dti']" [value]="value.Value">
            {{ value.Text | translate }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill" style="grid-area: enter-time;">
        <mat-label>{{'enter_time' | translate}}</mat-label>
        <input matInput placeholder="{{'enter_time' | translate}}" [ngxTimepicker]="enterTimeDatepicker" [format]="24"
               [value]="toTime(form.controls['EnterTime'].value)">
        <ngx-material-timepicker (timeSet)="onTimeChange($event, form.controls['EnterTime'])" #enterTimeDatepicker
                                 [format]="24" [theme]="darkTheme" [enableKeyboardInput]="true"></ngx-material-timepicker>
      </mat-form-field>

      <mat-form-field appearance="fill" style="grid-area: patient-enter-time;">
        <mat-label>{{'patient_enter_time' | translate}}</mat-label>
        <input matInput placeholder="{{'patient_enter_time' | translate}}" [ngxTimepicker]="patientEnterTimeDatepicker"
               [format]="24" [value]="toTime(form.controls['PatientEnterTime'].value)">
        <ngx-material-timepicker (timeSet)="onTimeChange($event, form.controls['PatientEnterTime'])"
                                 #patientEnterTimeDatepicker [format]="24" [theme]="darkTheme"
                                 [enableKeyboardInput]="true"></ngx-material-timepicker>
      </mat-form-field>


      <mat-form-field appearance="fill" style="grid-area: exit-time;">
        <mat-label>{{'exit_time' | translate}}</mat-label>
        <input matInput placeholder="{{'exit_time' | translate}}" [ngxTimepicker]="exitTimeDatepicker" [format]="24"
          [value]="toTime(form.controls['ExitTime'].value)">
        <ngx-material-timepicker (timeSet)="onTimeChange($event, form.controls['ExitTime'])" #exitTimeDatepicker
          [format]="24" [theme]="darkTheme" [enableKeyboardInput]="true"></ngx-material-timepicker>
      </mat-form-field>

      <mat-form-field appearance="fill" style="grid-area: surgery-description;">
        <mat-label>{{'surgery_description' | translate}}</mat-label>
        <textarea matInput placeholder="{{'surgery_description' | translate}}" formControlName="SurgeryDescription"
                  rows="1"></textarea>
      </mat-form-field>
    </form>

  </mat-tab>
  <form [formGroup]="form">


  <mat-tab label="{{'software_information' | translate }}">
    <mat-form-field appearance="fill" style="grid-area: FRE;">
      <mat-label>{{'FRE' | translate}}</mat-label>
      <input matInput type="number" min="0" max="150" step="0.01" formControlName="FRE" placeholder="{{'FRE' | translate}}">
    </mat-form-field>    
    <mat-form-field appearance="fill" style="grid-area: SurgeryDescription;">
      <mat-label>{{'SurgeryDescription' | translate}}</mat-label>
      <textarea matInput formControlName="SurgeryDescription" placeholder="{{'SurgeryDescription' | translate}}"></textarea>
    </mat-form-field>
    
    <mat-form-field appearance="fill" style="grid-area: start-time;">
      <mat-label>{{'start_time' | translate}}</mat-label>
      <input matInput [ngxTimepicker]="startTimeDatepicker" [format]="24" placeholder="{{'start_time' | translate}}"
        [value]="toTime(form.controls['StartTime'].value)">
      <ngx-material-timepicker (timeSet)="onTimeChange($event, form.controls['StartTime'])" #startTimeDatepicker
        [format]="24" [theme]="darkTheme" [enableKeyboardInput]="true"></ngx-material-timepicker>
    </mat-form-field>

    <mat-form-field appearance="fill" style="grid-area: end-time;">
      <mat-label>{{'end_time' | translate}}</mat-label>
      <input matInput placeholder="{{'end_time' | translate}}" [ngxTimepicker]="stopTimeDatepicker" [format]="24"
        [value]="toTime(form.controls['StopTime'].value)">
      <ngx-material-timepicker (timeSet)="onTimeChange($event, form.controls['StopTime'])" #stopTimeDatepicker
        [format]="24" [theme]="darkTheme" [enableKeyboardInput]="true"></ngx-material-timepicker>
    </mat-form-field>
  </mat-tab>
</form>
</mat-tab-group>
