<div class="main-container">
  <mat-card>
    {{ 'advanced search' | translate }}
    <mat-form-field style="margin: 10px 10px;">
      <input matInput type="text" (keyup)="doFilter($event)" placeholder="{{'simple search' | translate }}">
    </mat-form-field>

    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ 'time_range' | translate }}
        </mat-panel-title>
      </mat-expansion-panel-header>
        <form [formGroup]="range" class="container">
          <mat-form-field appearance="fill">
            <mat-label>{{'surgery_date_from' | translate}}</mat-label>
            <input matInput [matDatepicker]="startpicker" formControlName="start" [placeholder]="'start date' | translate">
            <mat-datepicker-toggle matSuffix [for]="startpicker"></mat-datepicker-toggle>
            <mat-datepicker #startpicker></mat-datepicker>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>{{'surgery_date_to' | translate}}</mat-label>
            <input matInput [matDatepicker]="endpicker" formControlName="end" [placeholder]="'end date' | translate">
            <mat-datepicker-toggle matSuffix [for]="endpicker"></mat-datepicker-toggle>
            <mat-datepicker #endpicker></mat-datepicker>
          </mat-form-field>
        </form>
    </mat-expansion-panel>

    <mat-expansion-panel hideToggle *ngFor="let filter of filters">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ filter.name | translate }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div style="display: flex; flex-direction:column;">
        <mat-checkbox *ngFor="let value of filter.values" (change)="checkboxChanged(filter.name, value.value)">
          {{ value.text | translate }}
        </mat-checkbox>
      </div>
    </mat-expansion-panel>
  </mat-card>
  <mat-card style="overflow: auto; padding: 0px;">
    <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)">
      <ng-container [matColumnDef]="name" *ngFor="let name of displayedFields" [sticky]="name == 'Name'">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ name | lowercase | translate }} </th>
        <td mat-cell *matCellDef="let element"> {{ element[name] | translate}}</td>
      </ng-container>

      <ng-container matColumnDef="Actions" stickyEnd>
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let element">
          <div class="actions-container">
            <button (click)="navigateTo(element.ID)" mat-stroked-button>{{ 'detail' | translate }}</button>
            <button (click)="remove(element.ID)" mat-stroked-button> <mat-icon>delete</mat-icon></button>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[15, 10, 5, 20]" showFirstLastButtons
      aria-label="Select page of periodic elements">
    </mat-paginator>
  </mat-card>
</div>
