table {
  width: 100%;
}

mat-card {
  border-radius: 0px !important;
  min-height: 100%;
}

mat-expansion-panel {
    margin-top: 3px;
}

mat-tab-group, mat-tab {
  min-height: 100%;
}

.main-container {
    display: grid;
    grid-template-columns: 1fr 12fr;
    min-height: 100%;
}

td.mat-column-star {
  width: 20px;
  padding-right: 8px;
}

th.mat-column-position,
td.mat-column-position {
  padding-left: 8px;
}

.actions-container {
  display: flex;
  flex-direction: row;
}

.export-button {
  margin-top: 20px;
  background-color: dodgerblue;
}

.justify-content-center {
  display: flex !important;
  justify-content: center !important;
}

@media (max-width:576px){
.mobile-hide{
  display: none !important;
}
}
