table {
  width: 100%;
}

mat-card {
  border-radius: 0px !important;
}

mat-expansion-panel {
    margin-top: 3px;
}

.main-container {
    display: grid;
    grid-template-columns: 1fr 12fr;
}

td.mat-column-star {
  width: 20px;
  padding-right: 8px;
}

th.mat-column-position,
td.mat-column-position {
  padding-left: 8px;
}

.actions-container {
  display: flex;
  flex-direction: row;
}

.export-button {
  margin-top: 20px;
  background-color: dodgerblue;
}

