<div class="main-container">
  <mat-card style="display: flex; flex-direction: column; min-height: 100%;">
    {{ 'advanced search' | translate }}
    <mat-form-field style="margin: 10px 10px;">
      <input matInput type="text" (keyup)="doFilter($event)" placeholder="{{'simple search' | translate }}">
    </mat-form-field>

    <mat-expansion-panel hideToggle *ngIf="!periodicTab">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ 'time_range' | translate }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      
      <form [formGroup]="date_filter_range" class="container">
        <mat-form-field appearance="fill">
          <mat-label>{{'surgery_date_from' | translate}}</mat-label>
          <input matInput [matDatepicker]="startpicker" formControlName="start"
            [placeholder]="'start date' | translate">
          <mat-datepicker-toggle matSuffix [for]="startpicker"></mat-datepicker-toggle>
          <mat-datepicker #startpicker></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>{{'surgery_date_to' | translate}}</mat-label>
          <input matInput [matDatepicker]="endpicker" formControlName="end" [placeholder]="'end date' | translate">
          <mat-datepicker-toggle matSuffix [for]="endpicker"></mat-datepicker-toggle>
          <mat-datepicker #endpicker></mat-datepicker>
        </mat-form-field>
      </form>
    </mat-expansion-panel>

    <mat-expansion-panel hideToggle *ngFor="let filter of basicfilterOptions | keyvalue">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ filter.key | translate }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div style="display: flex; flex-direction:column;">
        <mat-checkbox *ngFor="let value of filter.value" [checked]="value.Selected" (change)="checkboxChanged(filter.key, value.Value)">
          {{ value.Text | translate }}
        </mat-checkbox>
      </div>
      <!-- </div  *ngIf="filter.values && filter.values.length"> -->

    </mat-expansion-panel>
    <mat-expansion-panel hideToggle *ngFor="let filter of adaptiveFilterOptions | keyvalue">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ filter.key | translate }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div style="display: flex; flex-direction:column;">
        <mat-checkbox *ngFor="let value of filter.value" [checked]="value.Selected" (change)="checkboxChanged(filter.key, value.Value)">
          {{ value.Text | translate }}
        </mat-checkbox>
      </div>
      <div style="display: flex; flex-direction:column;" *ngIf="!filter.value.values || !filter.value.length">
        {{ 'no_values' | translate }}
      </div>
    </mat-expansion-panel>

    <button (click)="downloadExcel()" class="export-button" mat-stroked-button>Export</button>
    <div class="text-center" style="margin-top: auto; margin-bottom: 3rem;">
      <input class="form-control" type="file" accept=".db" (change)="onChange($event)">
    </div>
  </mat-card>

  <mat-tab-group (selectedTabChange)="tabChanged($event)">
    <mat-tab label="{{ 'table_tab' | translate }}">
      <mat-card style="overflow: auto; padding: 0px;">

        <table mat-table [dataSource]="dataSource">
          <ng-container [matColumnDef]="name" *ngFor="let name of displayedFields" [sticky]="name == 'Name'">
            <th mat-header-cell *matHeaderCellDef> {{ name | addUnderline | lowercase | translate }}
            </th>
            <td mat-cell *matCellDef="let element" 
              [style.color]="weekdays_color[element['SurgeryDay']]"
            > {{ element[name] | translate}}</td>
          </ng-container>

          <ng-container matColumnDef="Actions" stickyEnd>
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let element">
              <div class="actions-container">
                <button (click)="navigateTo(element.ID)" mat-stroked-button>{{ 'detail' | translate }}</button>
                <button (click)="remove(element.ID)" mat-stroked-button> <mat-icon>delete</mat-icon></button>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator class="justify-content-center" [pageSizeOptions]="[15, 10, 5, 20]"
          aria-label="Select page of periodic elements">
        </mat-paginator>
      </mat-card>
    </mat-tab>
    <mat-tab label="{{ 'charts_tab' | translate }}">
      <app-success-pie-chart [filters]="activeFilters"> </app-success-pie-chart>
    </mat-tab>

    <mat-tab label="{{ 'periodic_tab' | translate }}">
      <app-periodic-reports [filters]="activeFilters"> </app-periodic-reports>
    </mat-tab>
  </mat-tab-group>
</div>
