
<mat-card [dir]="textDir" style="min-height: 100%; display: flex; flex-direction: column; padding: 0;">
  <mat-toolbar>
    <mat-toolbar-row>
      <button id="menuButton" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="handleButtonClick()">
        <mat-icon>menu</mat-icon>
      </button>
      <a mat-button href="https://parsiss.com/{{selectedLanguage == 'fa' ? 'fa' : ''}}"> {{ 'parsiss' | translate }}</a>
      <a mat-button routerLink="home" routerLinkActive="active">{{ 'home' | translate }}</a>
      <a routerLink="centers" mat-menu-item>{{'centers' | translate}}</a>
      <div>
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          {{'report' | translate}}
        </button>
        <mat-menu #menu="matMenu">
          <a routerLink="reportsList" routerLinkActive="active" mat-menu-item>{{'reports' | translate}}</a>
          <a routerLink="add_new_patient" mat-menu-item target="_blank">{{'add_new_report' | translate}}</a>
        </mat-menu>
      </div>
      <a mat-button class="example-spacer"></a>
      <div style="display: flex; align-items: center; justify-content: center;"
        [style.flex-direction]="selectedLanguage == 'fa' ? 'row' : 'row-reverse'">
        <button mat-icon-button [matMenuTriggerFor]="languagemenu" aria-label="Example icon-button with a menu">
          {{ selectedLanguage == 'fa' ? 'فارسی' : 'English' }}
        </button>
        <mat-icon>language</mat-icon>
        <mat-menu #languagemenu="matMenu">
          <button mat-menu-item (click)="selectedLanguage='fa'">
            <span>فارسی</span>
          </button>
          <button mat-menu-item (click)="selectedLanguage='en'">
            <span>English</span>
          </button>
        </mat-menu>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <router-outlet></router-outlet>

  <div class="text-center text-white" style="background-color: #212121; margin-top: auto;">
    <!-- Grid container -->
    <div class="container p-4"></div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: #212121;">
      © 2022 Copyright:
      <a class="text-white" href="https://parsiss.com/{{selectedLanguage == 'fa' ? 'fa' : ''}}">parsiss.com</a>
    </div>
    <!-- Copyright -->
  </div>
</mat-card>
