<mat-toolbar>
  <mat-toolbar-row>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <a mat-button> {{ 'parsiss' | translate }}</a>
    <a mat-button>{{ 'home' | translate }}</a>
    <div>
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        {{'report' | translate}}
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <span>{{'reports' | translate}}</span>
        </button>
        <button mat-menu-item disabled>
          <span>{{'add new report' | translate}}</span>
        </button>
      </mat-menu>
    </div>
    <a mat-button class="example-spacer"></a>
    <div>
      <button mat-icon-button [matMenuTriggerFor]="languagemenu" aria-label="Example icon-button with a menu">
        {{ selectedLanguage }}
        <mat-icon>language</mat-icon>
      </button>
      <mat-menu #languagemenu="matMenu">
        <button mat-menu-item *ngFor="let lang of translate.getLangs()" (click)="selectedLanguage=lang">
          <span>{{ lang }}</span>
        </button>
      </mat-menu>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>