<div class="main-container">
  <div class="calendar-title">
    <button mat-mini-fab (click)="previousMonth()" class="my-fab">
      <mat-icon class="button-icon">arrow_forward_ios</mat-icon>
    </button>
    <span class="title-content">
      {{daysOfMonth[currentDate.jMonth()]}} {{currentDate.jYear()}}
    </span>
    <button mat-mini-fab (click)="nextMonth()" class="my-fab">
      <mat-icon class="button-icon">arrow_back_ios</mat-icon>
    </button>
  </div>
  <div class="calendar-container">
    <div *ngFor="let index of daysOrder" class="calendar-cell week-days-cell">
      {{daysOfWeek[index]}}
    </div>

    <div class="calendar-cell week-days-cell"></div>


    <div *ngFor="let cell of calendarCells; let index = index" class="calendar-cell day-cell">
      <div
        *ngIf="cell.type == 'date'"
        (click)="cliecked(cell.data)"
        [ngClass]="cell.data.toDate().getFullYear() == today.getFullYear() && cell.data.toDate().getMonth() == today.getMonth() &&
            cell.data.toDate().getDate() == today.getDate() ? 'today-date' : ''"
        style="height: 100%;"
      >
        <div class="day-container" style="border-top-left-radius: 0px; border-top-right-radius: 0px; border-top: none">
          <span >{{cell.data.jDate()}}</span>
        </div>
        <div *ngFor="let event of eventsMap.get(cell.data.unix())">
          <ng-template
            [ngTemplateOutlet]="templateRef"
            [ngTemplateOutletContext]="{event: event, date: cell.data}"
          >
          </ng-template>
        </div>
      </div>
      <div *ngIf="cell.type == 'empty'"></div>
      <div *ngIf="cell.type == 'detail'">
        <span>
          Public: {{cell.data.Public}} <br/>
          Private: {{cell.data.Private}} <br/>
          Tehran: {{cell.data.Tehran}}
        </span>
      </div>
    </div>
  </div>
</div>
